#profile {
	background: url(../images/background.jpg);
	background-attachment: fixed;
	margin: 0;

	 #wrapper {	
		width: 80%;
		height: auto;
		margin: 0 auto;
	}
	
	main {
		padding: 10px;
	}
	
	a {
		font-family: ACIDLABEL;
		color: $txtcol;
		text-decoration: none;
	}
		
	a:hover {
		color: $hover;
		cursor: pointer;
	}
}

/* Head */
.profile_head {
	height: 250px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: flex-start;
}

.profile_img {
	width: 160px;
	border: $border;
}

.qouted {
	h1{
		padding-top: 30px;
		text-align: center;
	}
}
/* End Head */

.nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	
	a {
		margin: 0 0 5px 20px;
		font-size: 20px;
	}
}

/* Schedule */
#sunday, #monday, #tuesday, #wednesday, #thursday, #friday, #saturday {
	width: 15%;
	border: $border;
	text-align: center;
	position: relative;
	display: inline-block;
}

 .schedule {
	display: flex;
	margin: 0px;

	img {
		width: 80%;
		margin: 10px;

	}

	h4 {
		margin: 0;
		background: $brdcol;
	}

	p {
		margin: 0px;
		padding: 3px;
		text-align: center;
		border-bottom: $border;
		font-size: 10px;
		color: $txtcol;
	}
}

.view_day:hover, .add_day:hover {
	box-shadow: 0 0 15px $txtcol;
	cursor: pointer;
}

.add_day {
	height: 100%;
	 
	h1 {
		padding-top: 45%;
		font-size: 120px;
	}
}

.rest_day h1 {
	padding-top: 40%;
}

/* Dropdown Menu */
.dropdown {
	display: none;
	position: absolute;
	z-index: 1;
	background: black;
	width: 100%;
	border: $border;

	a {
		display: block;
		border-bottom: $border;
		text-decoration: none;
		font-family: ACIDLABEL;
		color: $txtcol;
		font-size: 15px;
		font-weight: 400;
		line-height: 30px;
	}
	
	a:hover {
		box-shadow: 0 0 10px $txtcol;
	}
}

.dropdown:hover {
	display: block;
}

.view_day:hover .dropdown {
	display: block;
}
/* End Dropdown Menu */

/* End Schedule */

/* Info and Scoreboard */
.info, .leader {
	width: 50%;
	height: 250px;
	border: $border;
	margin: 80px 0px;
}

.info {
	margin-right: 10px;
	
	img {
		float: left;
		width: 20%;
		border: $border;
	}
}

.info_head {
}

.leader {
	margin-left: 10px;
	text-align: center;
	
	h2 {
		margin: 0;
		padding: 5px;
		border-bottom: $border;
	}
	
	table {
		text-align: center;
		width: 100%;
		border-collapse: collapse;
		margin: 0 auto;
	}
	
	th {
		border: 0px;
		padding-bottom: 15px;
	}
	
	td {
		border-right: $border;
		padding: 10px;
	}
	
	tr {
		border-bottom: $border;
	}
	
	tr:first-child, tr:last-child {
		border-bottom: 0px;
	}
	
	table, td:last-child, th:last-child {
		border-right: 0px;
	}
}

.score {
	
	padding: 10px 10px 10px 20px;
	height: 150px;
	overflow-x: hidden;
	overflow-y: scroll;
}
	
.score::-webkit-scrollbar {
	width: 10px;
}

.score::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(255,255,255,.1);
}


/* End Info and Scoreboard */

/* Social Media Area */
.social {
	height: 566px;
	display: flex;
	border: $border;
	
	h2 {
		border-bottom: $border;
		text-align: center;
		padding: 5px 0;
		margin: 0;
	}

	aside {
		flex-basis: 30%;
	}
}

/* Live Update */
.update {
	padding: 10px 10px 10px 20px;
	height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.update::-webkit-scrollbar {
	width: 10px;
}

.update::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(255,255,255,.1);
}

.user_update {
	display: flex;
	flext-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 20px;
	
	.name {
		width: 100%;
		padding: 5px;
		margin: 5px 0px 0px 10px;
		font-family: ACIDLABEL;
		color: $txtcol;
		font-size: 14px;
		
		span {
			text-decoration: underline;
		font-size: 18px;
		}
	}
}
/* End Live Update */

/* Chatbox Area */
.messenger {	
	flex-basis: 40%;
	height: auto;
	border-left: $border;
	border-right: $border;
}

.chatbox {
	padding: 0 20px;
	display: grid;
}
.chatlogs {
	padding: 10px;
	width: 100%;
	height: 463px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
	width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(255,255,255,.1);
}


.chat {
	display: flex;
	flext-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
	
	.user-photo {
		width: 60px;
		height: 60px;
		background: #ccc;
		border-radius: 50%;
		overflow: hidden;
	}
	
	.user-photo img {
		width: 100%;
	}
	
	.chat-message {
		width: 80%;
		padding: 15px;
		margin: 5px 10px 0;
		border-radius: 10px;
		border: $border;
	}
}

.friend {
	
	.chat-message {
		background: rgba(0, 0, 0, .7);
	}
}

.self {
	.chat-message {
		background: $brdcol;
		order: -1;
	}
}

.chat-form {
	display: flex;
	align-items: flex-start;
	border-top: $border;
	width: 100%;
	
	textarea {
		background: $txtcol;
		border-radius: 0px;
		width: 75%;
		height: 22px;
		resize: none;
		padding: 10px;
		font-family: ACIDLABEL;
		font-size: 18px;
		color: BLACK;
	}
	
	textarea:focus {
		background: #fff;
	}
	
	textarea::-webkit-scrollbar {
		width: 10px;
	}	

	textarea::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: rgba(255,255,255,.1);
	}
	
	button {
		background: none;
		padding: 8px 10px;
		font-family: ACIDLABEL;
		font-size: 20px;
		color: $txtcol;
		border: none;
		margin: 0 10px;
		
	}
	
	button:hover {
		color: $hover;
		cursor: pointer;
	}
	
	button:onclick {
		border: none;
	}
}
/* End Chat Box Area */

/* Who's Online */
.users {
	padding: 10px 10px 10px 20px;
	height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.users::-webkit-scrollbar {
	width: 10px;
}

.users::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(255,255,255,.1);
}

.online {
	display: flex;
	flext-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 20px;
	
	.user-photo {
		width: 50px;
		height: 50px;
		background: #ccc;
		border-radius: 50%;
		overflow: hidden;
	}
	
	.user-photo img {
		width: 100%;
	}
	
	.name {
		width: 80%;
		padding: 5px;
		margin: 5px 0px 0px 10px;
		font-family: ACIDLABEL;
		color: $txtcol;
		font-size: 18px;
	}
}
/* End Who's Online */

/* End Social Media Area */

/* Nutrition and Supplements */
.nutr, .sup {
	width: 50%;
	height: auto;
	border: $border;
	margin: 80px 0px;
}

.nutr img, .sup img {
	width: 100%;
	height: 100%;
}
/* End Nutrition and Supplements */

/* Floating View */
.view {
	background: url(../images/background.jpg);
	width: 630px;
	height: 410px;
	margin: auto;
	position: absolute;
	top: 0px; bottom: 150px;
	right: 0px; left: 0px;
	box-shadow: 0 0 25px $brdcol,  0 0 25px $brdcol;
	z-index: 1;
	
	.workout {
		overflow: scroll;
		height: 50%;
		overflow:-moz-scrollbars-none;
		margin-top: 5px;
	}
	
	.workout::-webkit-scrollbar {
		width: 10px;
	}

	.workout::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: rgba(255,255,255,.1);
	}
	
	table {
		text-align: center;
		width: 90%;
		border-collapse: collapse;
		margin: 0 auto;
	}
	
	th {
		border: 0px;
		padding-bottom: 20px;
	}
	
	td {
		border-right: $border;
		padding: 10px;
	}
	
	tr {
		border-bottom: $border;
	}
	
	tr:first-child, tr:last-child {
		border-bottom: 0px;
	}
	
	table, td:last-child, th:last-child {
		border-right: 0px;
	}
	
	th, td:first-child {		
		font-family: ACIDLABEL;
		color: $txtcol;
		font-weight: 40;
	}
	
	.next-page {
		width: 20%;
		margin: auto;
	}
	
	.follow {
		float: right;
		margin-top: -28px;
		padding-right: 20px;
	}
}

.view_heading {
	display: flex;
}

.view-icon {
	border: $border;
	padding: 10px 0px;
}

.view-icon img {
	width: 100%;
}

.view_content {
	padding: 15px;
}

.view_content h2, .view_content p {
	margin: 0px;
}
/* End Floating View */

/* Floating Add */
.add {
	background: url(../images/background.jpg);
	width: 630px;
	height: 400px;
	margin: auto;
	position: absolute;
	top: 0px; bottom: 150px;
	right: 0px; left: 0px;
	box-shadow: 0 0 25px $brdcol,  0 0 25px $brdcol;
	z-index: 1;
		
	.back a {
		color: $hover;
	}
	
	form {
		padding: 20px;
	}
	
	input {
		margin-left: 15px;
	}
	
	.name {
		display: flex;
		padding-right: 20px;
		padding-left: 70px;
		
		input {
			width: 60%;
		}
	}
	
	/* Submit */
	input[type=submit] {
		margin: 0 auto;
		bottom: 80px;
	}
	/* End Submit */

	.add_heading {
		display: flex;
		width: 100%;
		padding: 30px 0;
		text-align: center;

		.desc-h {
			padding: 0 40px;
			border-right: $border;
			text-shadow: 0 0 15px $txtcol;
		}

		.details {
			padding-left: 50px;
		}

	}

	.add_top {
		display: flex;
	}

}

.type {
	display: flex;
	
	select {
		margin-left: 15px;
	}
}

.sets {
	display: flex;
	padding: 20px 0 20px 80px;
	
	input {
		width: 5%;
	}
}

.desc {
	display: flex;
	
	textarea {
		width: 50%;
		height: 120px;
		margin-left: 15px;
	}
}
/* End Floating Add */

/* Floating Add_Two */
.add_two {
	background: url(../images/background.jpg);
	width: 630px;
	height: 410px;
	margin: auto;
	position: absolute;
	top: 0px; bottom: 150px;
	right: 0px; left: 0px;
	box-shadow: 0 0 25px $brdcol,  0 0 25px $brdcol;
	z-index: 1;
	
	.next-page {
		width: 20%;
		margin: auto;
	}
		
	.back a {
		color: $hover;
	}
	
	form {
		padding: 20px;
	}
	
	input {
		margin-left: 15px;
	}
	
	.name {
		display: flex;
		padding-right: 20px;
		
		input {
			width: 60%;
		}
	}
	
	.equipment {
		display: flex;
		padding-right: 20px;
		
		input {
			width: 60%;
		}
	}
	
	/* Submit */
	input[type=submit] {
		bottom: 80px;
		right: 20px;
	}
	/* End Submit */

	.add_heading {
		display: flex;
		width: 100%;
		padding: 30px 0;
		text-align: center;

		.desc-h {
			padding: 0 40px;
			border-right: $border;
		}

		.details {
			padding-left: 50px;
			text-shadow: 0 0 15px $txtcol;
		}

	}

	.add_top {
		display: flex;
	}
	
	.workout {
		overflow: scroll;
		height: 35%;
		margin: 0 auto;
		overflow:-moz-scrollbars-none;
	}
	
	.workout::-webkit-scrollbar {
		width: 10px;
	}

	.workout::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: rgba(255,255,255,.1);
	}
	
	table {
		text-align: center;
		width: 90%;
		border-collapse: collapse;
		margin: 0 auto;
	}
	
	th {
		border: 0px;
		padding-bottom: 20px;
	}
	
	td {
		border-right: $border;
		padding: 10px;
	}
	
	tr {
		border-bottom: $border;
	}
	
	tr:first-child, tr:last-child {
		border-bottom: 0px;
	}
	
	table, td:last-child, th:last-child {
		border-right: 0px;
	}
	
	th, td:first-child {		
		font-family: ACIDLABEL;
		color: $txtcol;
		font-weight: 40;
	}
	
	.done {
		display: flex;
		justify-content: center;
	}
}

.setup {
	display: flex;
	padding-top: 10px;
	border-bottom: $border;
	
	input[type=submit] {
		top: 1px;
	}
}

.sets_two, .reps, {
	display: flex;
	padding: 20px 0 20px 5px;
	
	input {
		width: 10%;
	}
}

.time {
	display: flex;
	padding: 20px 0 20px 0;
	
	input {
		width: 35%;
	}
}
/* End Floating Add_Two */




@media only screen and (max-width: 900px) {
	#profile {
		
		#wrapper {	
			width: 100%;
		}
		
		main {
		margin: 0;
		}
	}
}

@media only screen and (max-width: 750px) {
	.news {
		aside {
			flex-basis: 0%;
		}
	}
}
