#profile {
	background: url(../images/background.jpg);
	background-attachment: fixed;
	margin: 0;

	 #wrapper {	
		width: 80%;
		height: auto;
		margin: 0 auto;
	}
	
	main {
		padding: 10px;
	}
	
	a {
		font-family: ACIDLABEL;
		color: $txtcol;
		text-decoration: none;
	}
		
	a:hover {
		color: $hover;
		cursor: pointer;
	}
}

/* Head */
.profile_head {
	width: 100%;
	overflow: hidden;
}

.profile_img {
	width: 15%;
	border: 1px solid $txtcol;
}

.qouted {
	float: right;
	width: 83%;
	h1{
		text-align: center;
	}
}

 #profile h3 {
	margin: 0;
}
/* End Head */

/* Schedule */
 .schedule {
	display: flex;
	margin: 0px;
}

#sunday, #monday, #tuesday, #wednesday, #thursday, #friday, #saturday {
	width: 15%;
	border: 1px solid $txtcol;
	text-align: center;
	position: relative;
	display: inline-block;
}

.schedule img {
	width: 80%;
	margin: 10px;

}

.schedule h4 {
	margin: 0;
	background: $brdcol;
	font-size: 20px;
}

.schedule p {
	margin: 0px;
	padding: 3px;
	text-align: center;
	border-bottom: 1px solid $txtcol;
	font-size: 10px;
	color: $txtcol;
}

.view_day:hover, .add_day:hover {
	box-shadow: 0 0 15px $txtcol;
	cursor: pointer;
}

.add_day {
	height: 100%;
	overflow: hidden;
	 
	h1 {
		font-size: 100px;
	}
}

.rest_day h1 {
	padding-top: 30%;
}

.rest_day a, .add_day a, .view_day a {
	text-decoration: none;
}

/* Dropdown Menu */
.dropdown {
	display: none;
	position: absolute;
	z-index: 1;
	background: black;
	width: 100%;
	border: 1px solid $txtcol;
}

.dropdown a {
	display: block;
	border-bottom: 1px solid $txtcol;
	text-decoration: none;
	font-family: ACIDLABEL;
	color: $txtcol;
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
}

.dropdown:hover {
	display: block;
}

.dropdown a:hover {
	box-shadow: 0 0 10px $txtcol;
}

.view_day:hover .dropdown {
	display: block;
}
/* End Dropdown Menu */

/* End Schedule */

/* Info and Scoreboard */
.flex {
	display: flex;
}

.info, .leader {
	width: 50%;
	height: 250px;
	border: 1px solid $txtcol;
	margin: 80px 0px;
}

.info {
	margin-right: 10px;
}

.leader {
	margin-left: 10px;
}
/* End Info and Scoreboard */

/* Social Media Area */
.social {
	height: 568px;
	display: flex;
	
	h2 {
		border-bottom: 1px solid $txtcol;
		text-align: center;
		padding: 5px 0;
		margin: 0;
	}

	aside {
		border: 1px solid $txtcol;
		flex-basis: 30%;
	}
}

/* Chatbox Area */
.newsfeed {	
	flex-basis: 40%;
	border: 1px solid $txtcol;
	display: grid;
}

.chatbox {
	width: 40%;
	padding: 10px 20px;
	min-width: 390px;
	height: 505px;	
	margin: 0 auto;
}

.chatlogs {
	padding: 10px;
	width: 100%;
	height: 450px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
	width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(255,255,255,.1);
}


.chat {
	display: flex;
	flext-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
	
	.user-photo {
		width: 60px;
		height: 60px;
		background: #ccc;
		border-radius: 50%;
		overflow: hidden;
	}
	
	.user-photo img {
		width: 100%;
	}
	
	.chat-message {
		width: 80%;
		padding: 15px;
		margin: 5px 10px 0;
		border-radius: 10px;
		border: 1px solid $txtcol;
		font-family: ACIDLABEL;
		color: $txtcol;
		font-size: 18px;
	}
}

.friend {
	
	.chat-message {
		background: rgba(0, 0, 0, .7);
	}
}

.self {
	.chat-message {
		background: $brdcol;
		order: -1;
	}
}

.chat-form {
	display: flex;
	align-items: flex-start;
	border-top: 1px solid $txtcol;
	width: 110%;
	margin-left: -20px;
	
	textarea {
		background: $txtcol;
		width: 75%;
		height: 22px;
		resize: none;
		padding: 10px;
		font-family: ACIDLABEL;
		font-size: 18px;
		color: BLACK;
	}
	
	textarea:focus {
		background: #fff;
	}
	
	textarea::-webkit-scrollbar {
		width: 10px;
	}	

	textarea::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: rgba(255,255,255,.1);
	}
	
	button {
		background: none;
		padding: 8px 10px;
		font-family: ACIDLABEL;
		font-size: 20px;
		color: $txtcol;
		border: none;
		margin: 0 10px;
		
	}
	
	button:hover {
		color: $hover;
		cursor: pointer;
	}
	
	button:onclick {
		border: none;
	}
}
/* End Chat Box Area */

.users {
	padding: 10px 10px 10px 20px;
	height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.users::-webkit-scrollbar {
	width: 10px;
}

.users::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(255,255,255,.1);
}

.online {
	display: flex;
	flext-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 20px;
	
	.user-photo {
		width: 50px;
		height: 50px;
		background: #ccc;
		border-radius: 50%;
		overflow: hidden;
	}
	
	.user-photo img {
		width: 100%;
	}
	
	.name {
		width: 80%;
		padding: 5px;
		margin: 5px 0px 0px 10px;
		font-family: ACIDLABEL;
		color: $txtcol;
		font-size: 18px;
	}
}

/* End Social Media Area */

/* Nutrition and Supplements */
.nutr, .sup {
	width: 50%;
	height: auto;
	border: 1px solid $txtcol;
	margin: 80px 0px;
}

.nutr img, .sup img {
	width: 100%;
	height: 100%;
}
/* End Nutrition and Supplements */

/* Floating View */
.view_container {
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	transition: all 500ms ease;
}

.view_container:target {
	opacity: 1;
	pointer-events: auto;
}

.view_container > div {
	transform: translate(0px, -50px);
	transition:  all 500ms ease;
}

.view_container:target > div {
	transform: translate(0px, 0px);
}

.view {
	background: url(../images/background.jpg);
	width: 630px;
	height: 410px;
	margin: auto;
	position: absolute;
	top: 0px; bottom: 150px;
	right: 0px; left: 0px;
	box-shadow: 0 0 25px $brdcol,  0 0 25px $brdcol;
	z-index: 1;
	
	.workout {
		overflow: scroll;
		height: 50%;
		overflow:-moz-scrollbars-none;
	}
	
	.workout::-webkit-scrollbar {
		display: none;
	}
	
	table {
		text-align: center;
		width: 90%;
		border-collapse: collapse;
		margin-left: 30px;
	}
	
	th {
		border: 0px;
		padding-bottom: 20px;
	}
	
	td {
		border-right: 1px solid $txtcol;
		padding: 10px;
	}
	
	tr {
		border-bottom: 1px solid $txtcol;
	}
	
	tr:first-child, tr:last-child {
		border-bottom: 0px;
	}
	
	table, td:last-child, th:last-child {
		border-right: 0px;
	}
	
	th, td:first-child {		
		font-family: ACIDLABEL;
		color: $txtcol;
		font-weight: 40;
	}
	
	a {
		font-weight: 40;
	}
	
	.next-page {
		width: 20%;
		margin: auto;
		padding-top: 5px;
	}
	
	.follow {
		float: right;
		margin-top: -28px;
		padding-right: 20px;
	}
}

.view_heading {
	display: flex;
}

.view-icon {
	-moz-flex-basis: 300px;
	-webkit-flex-basis: 300px;
	flex-basis: 300px;
	border: 1px solid $txtcol;
	padding: 15px 0px;
}

.view-icon img {
	width: 100%;
}

.view_content {
	padding: 15px 5px 0 10px;
}

.view_content h2, .view_content p {
	margin: 0px;
}
/* End Floating View */

/* Floating Add */
.add_container {
	width: 100%;
	height: 100%;
	background: rgba(2, 70, 88, 0.8);
	opacity: 0;
	pointer-events: none;
	transition: all 500ms ease;
}

.add_container:target {
	opacity: 1;
	pointer-events: auto;
}

.add_container > div {
	transform: translate(0px, -50px);
	transition:  all 500ms ease;
}

.add_container:target > div {
	transform: translate(0px, 0px);
}

.add {
	background: url(../images/background.jpg);
	width: 630px;
	height: 410px;
	margin: auto;
	position: absolute;
	top: 0px; bottom: 150px;
	right: 0px; left: 0px;
	box-shadow: 0 0 25px $brdcol,  0 0 25px $brdcol;
	z-index: 1;
	
	table {
		text-align: center;
		width: 90%;
		border-collapse: collapse;
		margin-left: 30px;
	}
	
	th {
		border: 0px;
		padding-bottom: 20px;
	}
	
	td {
		border-right: 1px solid $txtcol;
		padding: 10px;
	}
	
	tr {
		border-bottom: 1px solid $txtcol;
	}
	
	tr:first-child, tr:last-child {
		border-bottom: 0px;
	}
	
	table, td:last-child, th:last-child {
		border-right: 0px;
	}
	
	th, td:first-child, td:last-child {		
		font-family: ACIDLABEL;
		color: $txtcol;
	}
	
	.next-page {
		width: 20%;
		margin: auto;
		padding-top: 20px;
	}
	
	.follow {
		float: right;
		margin-top: -28px;
		padding-right: 20px;
	}
}

.add_heading {
	display: flex;
}

.add-icon {
	flex-basis: 300px;
	border: 1px solid $txtcol;
	padding: 15px 0px;
}

.add-icon img {
	width: 100%;
}

.add_content {
	padding: 15px 5px 0 10px;
}

.add_content h2, .add_content p {
	margin: 0px;
}
/* End Floating View */



@media only screen and (max-width: 900px) {
	#profile {
		
		#wrapper {	
			width: 100%;
		}
		
		main {
		margin: 0;
		}
	}
}

@media only screen and (max-width: 750px) {
	.news {
		
		aside {
			flex-basis: 0%;
		}
	}

	.newsfeed_scroll {
		flex-basis: 100%;
	}
}
