#welcome { 
  background: url(../images/background2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	 #wrapper {
		margin: 0 auto;
		width: 650px;
	}

	 main {
		height: 375px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}

.content {
	margin-left: 20px;
}

.logo  {
	img {
		width: 124%;
		padding-top: 19px;
		z-index: 1;
	}
}

.signin {
	float: right;
	padding-right: 280px;
	margin-top: -376px;
	z-index: 2;
}

.signup {
	float: right;
	margin-top: -375px;
	padding-right: 118px;
	z-index: 2;
}

.signin h2 a, .signup h2 a {
	position: absolute;
	text-decoration: none;
	color: $txtcol;
	text-shadow: 1px 1px 2px black;
}

.signin h2 a:hover, .signup h2 a:hover {
	text-shadow: 0 0 25px red,  0 0 25px $brdcol;
}

/* Floating Login Form */
.login {
	width: 410px;
	height: 221px;
	margin: auto;
	position: absolute;
	top: 0px; bottom: 150px;
	right: 0px; left: 0px;
	background: url(../images/background.jpg);
	box-shadow: 0 0 25px $brdcol,  0 0 25px $brdcol;
		
	form {
		padding: 0 20px;
	}
		
	h3 {
		font-size: 23px;
		text-align: center;
		margin-right: 148px;
	}
		
	input[type=text], input[type=password] {
		width: 190px;
		height: 31px;
		box-sizing: border-box;
		border-radius: 3px;
		border: 0px;
		float: right;
		margin-top: -50px;
	}

	input[type=submit] {
		position: relative;
		float: right;
		margin-top: -5px;
		left: 5px;
		font-family: ACIDLABEL;
		color: $txtcol;
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;
	}
		
	input[type=submit]:hover {
		cursor: pointer;
		color: $hover;
	}
		
	img {
		float: left;
		margin-top: -75px;
		width: 40px;
	}
}

	.login_heading {
		widows: 100%;
		display: block;
		box-sizing: border-box;
		text-align: center;
		font-family: ACIDLABEL;
		color: #bfc5d1;
		font-size: 25px;
		padding-top: 20px;
	}

	.forgotPassword{
		color: white;
		display: inline-block;
		float: left;
		margin-left: 40px;
		margin-top: 20px;
		text-decoration: none;
		font-size: 10pt;
	}


	.forgotPassword:hover {
		text-decoration: underline;
	}
/* End Floating Login Form */

/* Floating Signup Form */
.signup_form {		
	background: url(../images/background.jpg);
	width: 640px;
	height: 460px;
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 150px;
	right: 0px; 
	left: 0px;
	box-shadow: 0 0 25px $brdcol,  0 0 25px $brdcol;
	
	form {
	padding: 20px;
	}
	
	input, select {
		height: 31px;
	}
	
	/* First Name & Last Name */
	.name {
		h3 { 
			float: left;
			margin-left: 15px;
		}

		.first, .last {
			float: left;
			margin-left: 20px;
		}

		.last {
			float: right;
		}

		input {
			width: 200px;
		}

		h4 {
			margin: 0;
		}
	}
	/* End First Name & Last Name */
	
	/* Password */
	.password {
		clear: both;
		
		h3 { 
			float: left;
			margin-left: 40px;
		}

		.password_one, .password_two {
			float: left;
			margin-left: 20px;
		}

		.password_two {
			float: right;
		}

		input {
			width: 200px;
		}

		h4 {
			margin: 0;
		}
	}
/* End Password */
	
	/* Image */
	.image {
		float: right;
		margin-bottom: 0px;
		
		h3 {
			float: left;
		}
		
		input {
			float: right;
			width: 95px;
			margin-top: 25px;
			background: none;
		}
	}
	/* End Image */
	
	/* Submit */
	input[type=submit] {
		right: 50px;
	}
	/* End Submit */
}

.signup_form_heading {
	widows: 100%;
	display: block;
	box-sizing: border-box;
	text-align: center;
	font-family: ACIDLABEL;
	color: #bfc5d1;
	font-size: 25px;
	padding-top: 20px;
}

/* Date of Birth */
.dob {
	float: left;

	h3 {
		float: left;
		margin-left: -50px;
	}

	input{
		float: right;
		margin-top: 25px;
		margin-left: 20px;
		width: 165px;
	}
}
/* End Date of Birth */

/* Goal */
 .goal {
	float: right;

	 h3 {
		float: left;
		margin-top: 25px;
	}

	 select {
		margin-top: 25px;
		margin-left: 15px;
		width: 185px;
	}
	 
	 option {
		font-family: ACIDLABEL;
	 }
}
/* End Goal */

/* Email */
.email {
	float: left;
	width: 60%;

	h3 {
		float: left;
		margin-top: 5px;
		margin-left: 10px;
	}

	input {
		margin-left: 15px;
		margin-top: 10px;
		width: 60%;
	}
}
/* End Email */ 

/* Male */
.male {
	float: left;
	margin-top: 4px;
	
	h3 {
		float: left;
		margin-top: 4px;
	}

	input {
		margin-left: 8px;
		width: 20px;
		margin-top: 7px;
	}
}
/* End Male */

/* Female */
.female {
	float: right;
	margin-top: 8px;

	 h3 {
		float: left;
		margin-top: -.1px;
	}

	input {
		margin-left: 8px;
		width: 20px;
	}
}
/* End Female */

/* Qoute */
.qoute {
	float: left;
	margin-top: 10px;
	clear: both;
	
	 h3 {
		float: left;
		margin-top: -5px;
	}

	textarea {
		margin-left: 15px;
		width: 270px;
		height: 90px;
	 }
}
/* End Qoute */

/* End Floating Signup Form */












@media only screen and (max-width: 800px) {
	
	#welcome {
		#wrapper {
			width: 100%;
		}
	}

}