/* CSS Document */
/* Theme Color */
/* End Theme Color */
/* Fonts */
@font-face {
  src: url(../assets/fonts/ACIDL___.otf);
  font-family: ACIDLABEL; }
/* End Fonts */
/* Main Eliments */
main {
  background-color: rgba(42, 42, 42, 0.9);
  margin-top: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: rgba(105, 29, 6, 0.7);
  border-radius: 3px; }

h1, h2, h3, h4 {
  font-family: ACIDLABEL;
  color: #bfc7d1;
  font-weight: 400;
  line-height: 30px; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 12px; }

p {
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  color: #bfc7d1;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px; }

td {
  font-family: allura;
  color: #bfc7d1; }

.close {
  color: #bfc5d1;
  position: absolute;
  padding: 7px 9px 11px 9px;
  text-decoration: none;
  font-family: ACIDLABEL;
  top: -1px;
  right: 1px;
  border-radius: 50%;
  transition: background 500ms; }

.close:hover {
  cursor: pointer; }

.back {
  float: left; }

.next {
  float: right; }

.next:hover, .back:hover {
  color: #787878;
  cursor: pointer; }

/* End Main Eliments */
/* Header */
header {
  background-color: rgba(105, 29, 6, 0.7);
  border-radius: 3px; }

header h1 {
  float: right;
  position: absolute;
  margin-top: -105px;
  margin-left: 90px;
  font-size: 40px;
  line-height: 72px; }

.char1 {
  float: left;
  margin-top: -25px;
  transform: rotate(8deg); }

.char2 {
  float: left;
  margin-top: -30px;
  transform: rotate(-18deg); }

.char3 {
  float: left;
  margin-top: -40px; }

.char4 {
  float: left;
  margin-top: -40px; }

.char5 {
  float: right;
  margin-left: -68px; }

header img {
  width: 98%;
  margin: 7px 0 2px 7px;
  border-radius: 5px; }

/* End Header */
/* Welcome Page */
#welcome {
  background: url(../images/background2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #welcome #wrapper {
    margin: 0 auto;
    width: 650px; }
  #welcome main {
    height: 375px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); }

.content {
  margin-left: 20px; }

.logo img {
  width: 124%;
  padding-top: 19px;
  z-index: 1; }

.signin {
  float: right;
  padding-right: 280px;
  margin-top: -376px;
  z-index: 2; }

.signup {
  float: right;
  margin-top: -375px;
  padding-right: 118px;
  z-index: 2; }

.signin h2 a, .signup h2 a {
  position: absolute;
  text-decoration: none;
  color: #bfc7d1;
  text-shadow: 1px 1px 2px black; }

.signin h2 a:hover, .signup h2 a:hover {
  text-shadow: 0 0 25px red, 0 0 25px rgba(105, 29, 6, 0.7); }

.registerLink:hover {
  color: black; }

/* Modal */
.login_container {
  width: 100%;
  height: 100%;
  background: rgba(2, 70, 88, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 500ms ease; }

.login_container:target {
  opacity: 1;
  pointer-events: auto; }

.login_container > div {
  transform: translate(0px, -50px);
  transition: all 500ms ease; }

.login_container:target > div {
  transform: translate(0px, 0px); }

.login {
  width: 380px;
  height: 181px;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 150px;
  right: 0px;
  left: 0px;
  background-color: #2A2A2A;
  box-shadow: 0 0 25px rgba(105, 29, 6, 0.7), 0 0 25px rgba(105, 29, 6, 0.7);
  padding: 20px; }

.login_heading {
  widows: 100%;
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-family: ACIDLABEL;
  color: #bfc5d1;
  font-size: 25px; }

.login form input[type=text], .login form input[type=password] {
  width: 190px;
  height: 31px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 0px;
  float: right;
  margin-top: -50px; }

.login form input[type=submit] {
  background: none;
  border: none;
  float: right;
  margin-top: -10px;
  font-family: ACIDLABEL;
  color: #bfc7d1;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; }

.login form input[type=submit]:hover {
  cursor: pointer; }

.login form h3 {
  font-size: 23px;
  text-align: center;
  margin-right: 148px; }

.forgotPassword {
  color: white;
  display: inline-block;
  float: left;
  margin-left: 40px;
  margin-top: 30px;
  text-decoration: none;
  font-size: 10pt; }

.forgotPassword:hover {
  text-decoration: underline; }

.login form img {
  float: left;
  margin-top: -75px;
  width: 40px; }

@media only screen and (max-width: 680px) {
  #wrapper {
    width: 100%; }

  main {
    height: auto;
    display: block; }

  .content {
    display: none; }

  .login img {
    width: 80%;
    margin-left: 50px; }

  .signin {
    padding-right: 510px;
    margin-top: -640px; }

  .signup {
    margin-top: -640px;
    padding-right: 218px; } }
/* End Welcome Page */
/* Sign Up Page */
#signup {
  background: url(../images/background2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #signup #wrapper {
    margin: 0 auto;
    width: 650px; }
  #signup main {
    height: 375px;
    padding: 0 20px; }
  #signup h1 {
    text-align: center; }
  #signup h3 {
    text-align: center; }

form input {
  height: 31px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 0px;
  font-size: 15px; }

/* First Name & Last Name */
.name h3 {
  float: left;
  margin-left: 15px; }

.name .first, .name .last {
  float: left;
  margin-left: 20px; }

.name .last {
  float: right; }

.name input, .name input {
  width: 230px; }

.name h4 {
  margin: 0; }

/* End First Name & Last Name */
/* Date of Birth */
.dob {
  float: left; }

.dob h3 {
  float: left;
  margin-left: -50px; }

.dob input {
  float: right;
  margin-top: 25px;
  margin-left: 20px;
  width: 140px; }

/* End Date of Birth */
/* Goal */
.goal {
  float: right; }

.goal h3 {
  float: left;
  margin-top: 25px; }

.goal input {
  margin-top: 25px;
  margin-left: 15px; }

/* End Goal */
/* Email */
.email {
  float: left; }

.email h3 {
  float: left;
  margin-top: 5px;
  margin-left: 10px; }

.email input {
  margin-left: 20px;
  margin-top: 10px; }

/* End Email */
/* Male */
.male {
  float: left;
  margin-left: 65px; }

.male h3 {
  float: left;
  margin-top: 4px; }

.male input {
  margin-left: 8px;
  width: 20px;
  margin-top: 7px; }

/* End Male */
/* Female */
.female {
  float: right;
  margin-top: 5px; }

.female h3 {
  float: left;
  margin-top: -.1px; }

.female input {
  margin-left: 8px;
  width: 20px; }

/* End Female */
/* Qoute */
.qoute {
  float: left;
  margin-top: 10px; }

.qoute h3 {
  float: left;
  margin-top: -5px; }

.qoute input {
  margin-left: 15px;
  width: 270px;
  height: 90px; }

/* End Qoute */
/* Submit */
form input[type=submit] {
  background: none;
  border: none;
  float: right;
  font-family: ACIDLABEL;
  font-size: 20px;
  color: #bfc7d1;
  font-weight: 400;
  line-height: 30px;
  margin-top: 35px;
  margin-right: 60px; }

form input[type=submit]:hover {
  cursor: pointer; }

/* End Sign Up Page */
/* Profile Page */
#profile {
  background: url(../images/background.jpg);
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto; }
  #profile #wrapper {
    width: 80%;
    height: auto;
    margin: 0 auto; }
  #profile main {
    padding: 10px; }

.profile_img {
  width: 15%;
  border: 1px solid #bfc7d1; }

.qouted {
  float: right;
  width: 80%;
  margin-top: 50px;
  padding: 20px; }

.qouted h1 {
  text-align: center; }

#profile h3 {
  margin: 0; }

/* Schedule */
.schedule {
  display: flex;
  margin: 0px; }

#sunday, #monday, #tuesday, #wednesday, #thursday, #friday, #saturday {
  width: 15%;
  border: 1px solid #bfc7d1;
  text-align: center;
  position: relative;
  display: inline-block; }

.schedule img {
  width: 80%;
  margin: 10px; }

.schedule h4 {
  margin: 0;
  background: rgba(105, 29, 6, 0.7);
  font-size: 20px; }

.schedule p {
  margin: 0px;
  padding: 3px;
  text-align: center;
  border-bottom: 1px solid #bfc7d1;
  font-size: 10px;
  color: #bfc7d1; }

.view_day:hover, .add_day:hover {
  box-shadow: 0 0 15px #bfc7d1;
  cursor: pointer; }

.add_day {
  height: 100%;
  overflow: hidden; }

.add_day h1 {
  font-size: 90px; }

.rest_day h1 {
  padding-top: 60px; }

.rest_day a, .add_day a, .view_day a {
  text-decoration: none; }

/* Dropdown Menu */
.dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  background: black;
  width: 100%;
  border: 1px solid #bfc7d1; }

.dropdown a {
  display: block;
  border-bottom: 1px solid #bfc7d1;
  text-decoration: none;
  font-family: ACIDLABEL;
  color: #bfc7d1;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px; }

.dropdown:hover {
  display: block; }

.dropdown a:hover {
  color: #787878;
  box-shadow: 0 0 10px #bfc7d1; }

.view_day:hover .dropdown {
  display: block; }

/* End Dropdown Menu */
/* End Schedule */
.flex {
  display: flex; }

.info, .leader {
  width: 50%;
  height: 250px;
  border: 1px solid #bfc7d1;
  margin: 80px 0px; }

.info {
  margin-right: 10px; }

.leader {
  margin-left: 10px; }

.news {
  height: 408px;
  display: flex; }

.news aside {
  border: 1px solid #bfc7d1;
  flex-basis: 20%; }

.newsfeed {
  flex-basis: 60%;
  border: 1px solid #bfc7d1;
  display: grid;
  overflow: scroll; }

.newsfeed::-webkit-scrollbar {
  display: none; }

.comment {
  border: 1px solid #bfc7d1;
  width: 100%;
  height: 100px;
  margin-top: 10px; }

.comment img {
  height: 100%; }

.comment h4 {
  margin-left: 90px; }

.nutr, .sup {
  width: 50%;
  height: 250px;
  border: 1px solid #bfc7d1;
  margin: 80px 0px; }

.nutr img, .sup img {
  width: 100%;
  height: 100%; }

/* Floating View */
.view_container {
  width: 100%;
  height: 100%;
  background: rgba(2, 70, 88, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 500ms ease; }

.view_container:target {
  opacity: 1;
  pointer-events: auto; }

.view_container > div {
  transform: translate(0px, -50px);
  transition: all 500ms ease; }

.view_container:target > div {
  transform: translate(0px, 0px); }

.overlay {
  background-color: rgba(42, 42, 42, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.view {
  background: url(../images/background.jpg);
  width: 630px;
  height: 410px;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 150px;
  right: 0px;
  left: 0px;
  box-shadow: 0 0 25px rgba(105, 29, 6, 0.7), 0 0 25px rgba(105, 29, 6, 0.7);
  z-index: 1; }
  .view table {
    text-align: center;
    width: 90%;
    border-collapse: collapse;
    margin-left: 30px; }
  .view th {
    border: 0px;
    padding-bottom: 20px; }
  .view td {
    border-right: 1px solid #bfc7d1;
    padding: 10px; }
  .view tr {
    border-bottom: 1px solid #bfc7d1; }
  .view tr:first-child, .view tr:last-child {
    border-bottom: 0px; }
  .view table, .view td:last-child, .view th:last-child {
    border-right: 0px; }
  .view th, .view td:first-child, .view td:last-child {
    font-family: ACIDLABEL;
    color: #bfc7d1; }
  .view .next-page {
    width: 20%;
    margin: auto;
    padding-top: 20px; }
  .view .follow {
    float: right;
    margin-top: -28px;
    padding-right: 20px; }

.view_heading {
  display: flex; }

.view-icon {
  flex-basis: 300px;
  border: 1px solid #bfc7d1;
  padding: 15px 0px; }

.view-icon img {
  width: 100%; }

.view_content {
  padding: 15px 5px 0 10px; }

.view_content h2, .view_content p {
  margin: 0px; }

/* End Floating View */
/* Floating Add */
.add_container {
  width: 100%;
  height: 100%;
  background: rgba(2, 70, 88, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 500ms ease; }

.add_container:target {
  opacity: 1;
  pointer-events: auto; }

.add_container > div {
  transform: translate(0px, -50px);
  transition: all 500ms ease; }

.add_container:target > div {
  transform: translate(0px, 0px); }

.overlay {
  background-color: rgba(42, 42, 42, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.add {
  background: url(../images/background.jpg);
  width: 630px;
  height: 410px;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 150px;
  right: 0px;
  left: 0px;
  box-shadow: 0 0 25px rgba(105, 29, 6, 0.7), 0 0 25px rgba(105, 29, 6, 0.7);
  z-index: 1; }
  .add table {
    text-align: center;
    width: 90%;
    border-collapse: collapse;
    margin-left: 30px; }
  .add th {
    border: 0px;
    padding-bottom: 20px; }
  .add td {
    border-right: 1px solid #bfc7d1;
    padding: 10px; }
  .add tr {
    border-bottom: 1px solid #bfc7d1; }
  .add tr:first-child, .add tr:last-child {
    border-bottom: 0px; }
  .add table, .add td:last-child, .add th:last-child {
    border-right: 0px; }
  .add th, .add td:first-child, .add td:last-child {
    font-family: ACIDLABEL;
    color: #bfc7d1; }
  .add .next-page {
    width: 20%;
    margin: auto;
    padding-top: 20px; }
  .add .follow {
    float: right;
    margin-top: -28px;
    padding-right: 20px; }

.add_heading {
  display: flex; }

.add-icon {
  flex-basis: 300px;
  border: 1px solid #bfc7d1;
  padding: 15px 0px; }

.add-icon img {
  width: 100%; }

.add_content {
  padding: 15px 5px 0 10px; }

.add_content h2, .add_content p {
  margin: 0px; }

/* End Floating View */
/* End Profile Page */
