/* CSS Document */
/* Theme Color */
/* End Theme Color */
/* Borders */
/* End Borders */
/* Fonts */
@font-face {
  src: url(../assets/fonts/ACIDL___.otf);
  font-family: ACIDLABEL; }
@font-face {
  src: url(../assets/fonts/Base_02.ttf);
  font-family: BASE; }
/* End Fonts */
/* Main Eliments */
main {
  margin: 10px 0;
  background-color: rgba(42, 42, 42, 0.9);
  border: 10px solid rgba(105, 29, 6, 0.7);
  border-radius: 3px; }

h1, h2, h3, h4 {
  color: #bfc7d1;
  font-weight: 400;
  line-height: 30px; }

h1 {
  font-size: 30px;
  font-family: ACIDLABEL; }

h2 {
  font-size: 25px;
  font-family: ACIDLABEL; }

h3 {
  font-size: 20px;
  font-family: ACIDLABEL; }

h4 {
  font-size: 15px;
  font-family: BASE;
  letter-spacing: 2px; }

p {
  font-family: BASE;
  color: #bfc7d1;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2px; }

td {
  font-family: BASE;
  color: #bfc7d1; }

.container {
  width: 100%;
  height: 100%;
  background: rgba(2, 70, 88, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 500ms ease; }

.container:target {
  opacity: 1;
  pointer-events: auto; }

.container > div {
  transform: translate(0px, -50px);
  transition: all 500ms ease; }

.container:target > div {
  transform: translate(0px, 0px); }

.close {
  color: #bfc5d1;
  position: absolute;
  padding: 7px 9px 11px 9px;
  text-decoration: none;
  font-family: ACIDLABEL;
  top: -1px;
  right: 1px;
  border-radius: 50%;
  transition: background 500ms; }

.close:hover {
  cursor: pointer; }

.back {
  float: left; }
  .back input {
    color: #787878; }

.next {
  float: right; }

.overlay {
  background-color: rgba(42, 42, 42, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

input, select, textarea {
  background: #bfc7d1;
  padding: 0 10px;
  font-family: BASE;
  font-size: 15px;
  color: BLACK;
  border-radius: 3px;
  border: 0px; }

textarea {
  padding-top: 10px; }

input:focus, select:focus, textarea:focus {
  background: #fff; }

/* Submit */
input[type=submit] {
  position: relative;
  background: none;
  border: none;
  float: right;
  font-family: ACIDLABEL;
  color: #bfc7d1;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; }

input[type=submit]:hover {
  cursor: pointer;
  color: #787878; }

/* End Submit */
/* End Main Eliments */
/* Header */
header {
  background-color: rgba(105, 29, 6, 0.7);
  border-radius: 3px; }
  header h1 {
    float: right;
    position: absolute;
    margin-top: -105px;
    margin-left: 90px;
    font-size: 40px;
    line-height: 72px; }
  header img {
    width: 98%;
    margin: 7px 0 2px 7px;
    border-radius: 5px; }

.char1 {
  float: left;
  margin-top: -25px;
  transform: rotate(8deg); }

.char2 {
  float: left;
  margin-top: -30px;
  transform: rotate(-18deg); }

.char3 {
  float: left;
  margin-top: -40px; }

.char4 {
  float: left;
  margin-top: -40px; }

.char5 {
  float: right;
  margin-left: -68px; }

/* End Header */
/* Welcome Page */
#welcome {
  background: url(../images/background2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #welcome #wrapper {
    margin: 0 auto;
    width: 650px; }
  #welcome main {
    height: 375px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); }

.content {
  margin-left: 20px; }

.logo img {
  width: 124%;
  padding-top: 19px;
  z-index: 1; }

.signin {
  float: right;
  padding-right: 280px;
  margin-top: -376px;
  z-index: 2; }

.signup {
  float: right;
  margin-top: -375px;
  padding-right: 118px;
  z-index: 2; }

.signin h2 a, .signup h2 a {
  position: absolute;
  text-decoration: none;
  color: #bfc7d1;
  text-shadow: 1px 1px 2px black; }

.signin h2 a:hover, .signup h2 a:hover {
  text-shadow: 0 0 25px red, 0 0 25px rgba(105, 29, 6, 0.7); }

/* Floating Login Form */
.login {
  width: 410px;
  height: 221px;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 150px;
  right: 0px;
  left: 0px;
  background: url(../images/background.jpg);
  box-shadow: 0 0 25px rgba(105, 29, 6, 0.7), 0 0 25px rgba(105, 29, 6, 0.7); }
  .login form {
    padding: 0 20px; }
  .login h3 {
    font-size: 23px;
    text-align: center;
    margin-right: 148px; }
  .login input[type=text], .login input[type=password] {
    width: 190px;
    height: 31px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 0px;
    float: right;
    margin-top: -50px; }
  .login input[type=submit] {
    position: relative;
    float: right;
    margin-top: -5px;
    left: 5px;
    font-family: ACIDLABEL;
    color: #bfc7d1;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; }
  .login input[type=submit]:hover {
    cursor: pointer;
    color: #787878; }
  .login img {
    float: left;
    margin-top: -75px;
    width: 40px; }

.login_heading {
  widows: 100%;
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-family: ACIDLABEL;
  color: #bfc5d1;
  font-size: 25px;
  padding-top: 20px; }

.forgotPassword {
  color: white;
  display: inline-block;
  float: left;
  margin-left: 40px;
  margin-top: 20px;
  text-decoration: none;
  font-size: 10pt; }

.forgotPassword:hover {
  text-decoration: underline; }

/* End Floating Login Form */
/* Floating Signup Form */
.signup_form {
  background: url(../images/background.jpg);
  width: 620px;
  height: 381px;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 150px;
  right: 0px;
  left: 0px;
  box-shadow: 0 0 25px rgba(105, 29, 6, 0.7), 0 0 25px rgba(105, 29, 6, 0.7);
  /* First Name & Last Name */
  /* End First Name & Last Name */
  /* Submit */
  /* End Submit */ }
  .signup_form form {
    padding: 20px; }
  .signup_form input, .signup_form select {
    height: 31px; }
  .signup_form .name h3 {
    float: left;
    margin-left: 15px; }
  .signup_form .name .first, .signup_form .name .last {
    float: left;
    margin-left: 20px; }
  .signup_form .name .last {
    float: right; }
  .signup_form .name input {
    width: 200px; }
  .signup_form .name h4 {
    margin: 0; }
  .signup_form input[type=submit] {
    top: 40px;
    right: 40px; }

.signup_form_heading {
  widows: 100%;
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-family: ACIDLABEL;
  color: #bfc5d1;
  font-size: 25px;
  padding-top: 20px; }

/* Date of Birth */
.dob {
  float: left; }
  .dob h3 {
    float: left;
    margin-left: -50px; }
  .dob input {
    float: right;
    margin-top: 25px;
    margin-left: 20px;
    width: 165px; }

/* End Date of Birth */
/* Goal */
.goal {
  float: right; }
  .goal h3 {
    float: left;
    margin-top: 25px; }
  .goal select {
    margin-top: 25px;
    margin-left: 15px;
    width: 185px; }
  .goal option {
    font-family: ACIDLABEL; }

/* End Goal */
/* Email */
.email {
  float: left;
  width: 60%; }
  .email h3 {
    float: left;
    margin-top: 5px;
    margin-left: 10px; }
  .email input {
    margin-left: 15px;
    margin-top: 10px;
    width: 60%; }

/* End Email */
/* Male */
.male {
  float: left;
  margin-top: 4px; }
  .male h3 {
    float: left;
    margin-top: 4px; }
  .male input {
    margin-left: 8px;
    width: 20px;
    margin-top: 7px; }

/* End Male */
/* Female */
.female {
  float: right;
  margin-top: 8px; }
  .female h3 {
    float: left;
    margin-top: -.1px; }
  .female input {
    margin-left: 8px;
    width: 20px; }

/* End Female */
/* Qoute */
.qoute {
  float: left;
  margin-top: 10px; }
  .qoute h3 {
    float: left;
    margin-top: -5px; }
  .qoute textarea {
    margin-left: 15px;
    width: 270px;
    height: 90px; }

/* End Qoute */
/* End Floating Signup Form */
@media only screen and (max-width: 800px) {
  #welcome #wrapper {
    width: 100%; } }
/* End Welcome Page */
/* Profile Page */
#profile {
  background: url(../images/background.jpg);
  background-attachment: fixed;
  margin: 0; }
  #profile #wrapper {
    width: 80%;
    height: auto;
    margin: 0 auto; }
  #profile main {
    padding: 10px; }
  #profile a {
    font-family: ACIDLABEL;
    color: #bfc7d1;
    text-decoration: none; }
  #profile a:hover {
    color: #787878;
    cursor: pointer; }

/* Head */
.profile_head {
  width: 100%;
  overflow: hidden; }

.profile_img {
  width: 15%;
  border: 1px solid #bfc7d1; }

.qouted {
  float: right;
  width: 83%; }
  .qouted h1 {
    text-align: center; }

#profile h3 {
  margin: 0; }

/* End Head */
/* Schedule */
.schedule {
  display: flex;
  margin: 0px; }

#sunday, #monday, #tuesday, #wednesday, #thursday, #friday, #saturday {
  width: 15%;
  border: 1px solid #bfc7d1;
  text-align: center;
  position: relative;
  display: inline-block; }

.schedule img {
  width: 80%;
  margin: 10px; }

.schedule h4 {
  margin: 0;
  background: rgba(105, 29, 6, 0.7);
  font-size: 20px; }

.schedule p {
  margin: 0px;
  padding: 3px;
  text-align: center;
  border-bottom: 1px solid #bfc7d1;
  font-size: 10px;
  color: #bfc7d1; }

.view_day:hover, .add_day:hover {
  box-shadow: 0 0 15px #bfc7d1;
  cursor: pointer; }

.add_day {
  height: 100%;
  overflow: hidden; }
  .add_day h1 {
    font-size: 100px; }

.rest_day h1 {
  padding-top: 30%; }

.rest_day a, .add_day a, .view_day a {
  text-decoration: none; }

/* Dropdown Menu */
.dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  background: black;
  width: 100%;
  border: 1px solid #bfc7d1; }

.dropdown a {
  display: block;
  border-bottom: 1px solid #bfc7d1;
  text-decoration: none;
  font-family: ACIDLABEL;
  color: #bfc7d1;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px; }

.dropdown:hover {
  display: block; }

.dropdown a:hover {
  box-shadow: 0 0 10px #bfc7d1; }

.view_day:hover .dropdown {
  display: block; }

/* End Dropdown Menu */
/* End Schedule */
/* Info and Scoreboard */
.flex {
  display: flex; }

.info, .leader {
  width: 50%;
  height: 250px;
  border: 1px solid #bfc7d1;
  margin: 80px 0px; }

.info {
  margin-right: 10px; }
  .info img {
    float: left;
    width: 20%;
    border: 1px solid #bfc7d1; }

.leader {
  margin-left: 10px; }

/* End Info and Scoreboard */
/* Social Media Area */
.social {
  height: 566px;
  display: flex; }
  .social h2 {
    border-bottom: 1px solid #bfc7d1;
    text-align: center;
    padding: 5px 0;
    margin: 0; }
  .social aside {
    border: 1px solid #bfc7d1;
    flex-basis: 30%; }

/* Live Update */
.update {
  padding: 10px 10px 10px 20px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll; }

.update::-webkit-scrollbar {
  width: 10px; }

.update::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1); }

.user_update {
  display: flex;
  flext-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 20px; }
  .user_update .name {
    width: 100%;
    padding: 5px;
    margin: 5px 0px 0px 10px;
    font-family: ACIDLABEL;
    color: #bfc7d1;
    font-size: 14px; }
    .user_update .name span {
      text-decoration: underline;
      font-size: 18px; }

/* End Live Update */
/* Chatbox Area */
.messenger {
  flex-basis: 40%;
  height: auto;
  border: 1px solid #bfc7d1; }

.chatbox {
  padding: 0 20px;
  display: grid; }

.chatlogs {
  padding: 10px;
  width: 100%;
  height: 460px;
  overflow-x: hidden;
  overflow-y: scroll; }

.chatlogs::-webkit-scrollbar {
  width: 10px; }

.chatlogs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1); }

.chat {
  display: flex;
  flext-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 10px; }
  .chat .user-photo {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden; }
  .chat .user-photo img {
    width: 100%; }
  .chat .chat-message {
    width: 80%;
    padding: 15px;
    margin: 5px 10px 0;
    border-radius: 10px;
    border: 1px solid #bfc7d1; }

.friend .chat-message {
  background: rgba(0, 0, 0, 0.7); }

.self .chat-message {
  background: rgba(105, 29, 6, 0.7);
  order: -1; }

.chat-form {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid #bfc7d1;
  width: 100%; }
  .chat-form textarea {
    background: #bfc7d1;
    border-radius: 0px;
    width: 75%;
    height: 22px;
    resize: none;
    padding: 10px;
    font-family: ACIDLABEL;
    font-size: 18px;
    color: BLACK; }
  .chat-form textarea:focus {
    background: #fff; }
  .chat-form textarea::-webkit-scrollbar {
    width: 10px; }
  .chat-form textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1); }
  .chat-form button {
    background: none;
    padding: 8px 10px;
    font-family: ACIDLABEL;
    font-size: 20px;
    color: #bfc7d1;
    border: none;
    margin: 0 10px; }
  .chat-form button:hover {
    color: #787878;
    cursor: pointer; }
  .chat-form button:onclick {
    border: none; }

/* End Chat Box Area */
/* Who's Online */
.users {
  padding: 10px 10px 10px 20px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll; }

.users::-webkit-scrollbar {
  width: 10px; }

.users::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1); }

.online {
  display: flex;
  flext-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 20px; }
  .online .user-photo {
    width: 50px;
    height: 50px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden; }
  .online .user-photo img {
    width: 100%; }
  .online .name {
    width: 80%;
    padding: 5px;
    margin: 5px 0px 0px 10px;
    font-family: ACIDLABEL;
    color: #bfc7d1;
    font-size: 18px; }

/* End Who's Online */
/* End Social Media Area */
/* Nutrition and Supplements */
.nutr, .sup {
  width: 50%;
  height: auto;
  border: 1px solid #bfc7d1;
  margin: 80px 0px; }

.nutr img, .sup img {
  width: 100%;
  height: 100%; }

/* End Nutrition and Supplements */
/* Floating View */
.view {
  background: url(../images/background.jpg);
  width: 630px;
  height: 410px;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 150px;
  right: 0px;
  left: 0px;
  box-shadow: 0 0 25px rgba(105, 29, 6, 0.7), 0 0 25px rgba(105, 29, 6, 0.7);
  z-index: 1; }
  .view .workout {
    overflow: scroll;
    height: 50%;
    overflow: -moz-scrollbars-none; }
  .view .workout::-webkit-scrollbar {
    display: none; }
  .view table {
    text-align: center;
    width: 90%;
    border-collapse: collapse;
    margin-left: 30px; }
  .view th {
    border: 0px;
    padding-bottom: 20px; }
  .view td {
    border-right: 1px solid #bfc7d1;
    padding: 10px; }
  .view tr {
    border-bottom: 1px solid #bfc7d1; }
  .view tr:first-child, .view tr:last-child {
    border-bottom: 0px; }
  .view table, .view td:last-child, .view th:last-child {
    border-right: 0px; }
  .view th, .view td:first-child {
    font-family: ACIDLABEL;
    color: #bfc7d1;
    font-weight: 40; }
  .view a {
    font-weight: 40; }
  .view .next-page {
    width: 20%;
    margin: auto;
    padding-top: 5px; }
  .view .follow {
    float: right;
    margin-top: -28px;
    padding-right: 20px; }

.view_heading {
  display: flex; }

.view-icon {
  -moz-flex-basis: 300px;
  -webkit-flex-basis: 300px;
  flex-basis: 300px;
  border: 1px solid #bfc7d1;
  padding: 15px 0px; }

.view-icon img {
  width: 100%; }

.view_content {
  padding: 15px 5px 0 10px; }

.view_content h2, .view_content p {
  margin: 0px; }

/* End Floating View */
/* Floating Add */
.add {
  background: url(../images/background.jpg);
  width: 630px;
  height: 410px;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 150px;
  right: 0px;
  left: 0px;
  box-shadow: 0 0 25px rgba(105, 29, 6, 0.7), 0 0 25px rgba(105, 29, 6, 0.7);
  z-index: 1;
  /* Submit */
  /* End Submit */ }
  .add .next-page {
    width: 20%;
    margin: auto;
    padding-top: 10px; }
  .add .back a {
    color: #787878; }
  .add form {
    padding: 20px; }
  .add input {
    margin-left: 15px; }
  .add .name {
    display: flex;
    padding-right: 20px;
    padding-left: 70px; }
    .add .name input {
      width: 60%; }
  .add input[type=submit] {
    bottom: 80px;
    right: 20px; }

.add_heading {
  display: flex;
  width: 100%;
  padding: 30px 0;
  text-align: center; }
  .add_heading .desc-h {
    padding: 0 40px;
    border-right: 1px solid #bfc7d1;
    text-shadow: 0 0 15px #bfc7d1; }
  .add_heading .details {
    padding-left: 50px; }

.add_top {
  display: flex; }

.type {
  display: flex; }
  .type select {
    margin-left: 15px; }

.sets {
  display: flex;
  padding: 20px 0 20px 80px; }
  .sets input {
    width: 5%; }

.desc {
  display: flex; }
  .desc textarea {
    width: 50%;
    height: 120px;
    margin-left: 15px; }

/* End Floating Add */
@media only screen and (max-width: 900px) {
  #profile #wrapper {
    width: 100%; }
  #profile main {
    margin: 0; } }
@media only screen and (max-width: 750px) {
  .news aside {
    flex-basis: 0%; } }
/* End Profile Page */
