/* Imports */
@import 'bourbon/bourbon';
@import 'partials/variables';
@import 'partials/reset.scss';
@import 'partials/myjqueryui.scss';
/* End Imports */

/* Main Eliments */
main {
  background-color: $background;
  border: 10px solid $brdcol;
  border-radius: 3px;
  margin: 10px 0;
}

h1,
h2,
h3,
h4,
label{
  color: $txtcol;
  font-weight: 400;
  line-height: 30px;
}

h1 {
  font-family: ACIDLABEL;
  font-size: 30px;
}

h2 {
  font-family: ACIDLABEL;
  font-size: 25px;
}

h3 {
  font-family: ACIDLABEL;
  font-size: 20px;
}

h4 {
  font-family: BASE;
  font-size: 15px;
  letter-spacing: 2px;
}

p {
  color: $txtcol;
  font-family: cityburn, sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 25px;
}

label {
  font-family: ACIDLABEL;
  font-size: 20px;
}

th {
  color: $txtcol;
  font-family: ACIDLABEL;
}

td {
  color: $txtcol;
  font-family: ROCK;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.container {
  display: none;
}

.close {
  border-radius: 50%;
  color: #bfc5d1;
  font-family: ACIDLABEL;
  padding: 7px 9px 11px 9px;
  position: absolute;
  right: 1px;
  text-decoration: none;
  top: -23px;
  transition: background 500ms;
}

.close:hover {
  cursor: pointer;
}

.back {
  float: left;

  input {
    color: $hover;
  }
}

.next {
  float: right;
}

input,
select,
textarea {
  background: $txtcol;
  border: 0px;
  border-radius: 3px;
  color: BLACK;
  font-family: cityburn !important;
  font-size: 25px;
  padding: 0 10px;
}

input[type="password"] {
  font-family: ACIDLABEL !important;
  font-size: 30px;
}

textarea {
  padding-top: 10px;
}

input:focus,
select:focus,
textarea:focus {
  background: #fff;
}

/* Submit */
input[type=submit] {
  background: none;
  border: none;
  color: $txtcol;
  float: right;
  font-family: ACIDLABEL;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  position: relative;
}

input[type=submit]:hover {
  color: $hover;
  cursor: pointer;
}
/* End Submit */

/* End Main Eliments */

/* Welcome Page */
@import 'partials/welcome';
/* End Welcome Page */


/* Profile Page */
@import 'partials/profile';
/* End Profile Page */

/* Tablet View */
@import 'partials/tablet';
/* End Tablet View */

/* Mobile View */
@import 'partials/mobile';
/* End Mobile View */
