#profile {
  background: url(../images/background.jpg);
  background-attachment: fixed;
  margin: 0;

  #wrapper {
    height: auto;
    margin: 0 auto;
    width: 80%;
  }

  main {
    padding: 10px;
  }

  a {
    color: $txtcol;
    font-family: ACIDLABEL;
    text-decoration: none;
  }

  a:hover {
    color: $hover;
    cursor: pointer;
  }
}

/* Head */
.profile_head {
  display: flex;
  flex-flow: row nowrap;
  height: 250px;
  justify-content: flex-start;
  width: 100%;
}

.profile_img {
  border: $border;
  width: 160px;
}

.qouted {
  align-items: center;
  display: grid;
  justify-content: center;
  padding: 0 20px 0 30px;
  width: 100%;
}

/* End Head */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;

  a {
    font-size: 20px;
    margin: 0 0 5px 20px;
  }

  button {
    background: none;
    border: none;
    color: $txtcol;
    font-family: ACIDLABEL;
    font-size: 20px;
    margin: 0 0 5px 20px;
  }

  button:hover {
    color: $hover;
    cursor: pointer;
  }
}

/* Schedule */
#sunday,
#monday,
#tuesday,
#wednesday,
#thursday,
#friday,
#saturday {
  border: $border;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 15%;
}

.schedule {
  display: flex;
  margin: 0px;

  img {
    margin: 10px;
    width: 80%;

  }

  h4 {
    background: $brdcol;
    margin: 0;
  }

  p {
    border-bottom: $border;
    color: $txtcol;
    font-size: 10px;
    margin: 0px;
    padding: 3px;
    text-align: center;
  }
}

.view_day:hover,
.add_day:hover {
  box-shadow: 0 0 15px $txtcol;
  cursor: pointer;
}

.add_day {
  height: 83%;

  h1 {
    font-size: 120px;
    padding-top: 30%;
  }
}

.rest_day h1 {
  padding-top: 40%;
}

/* Dropdown Menu */
.dropdown {
  background: black;
  border: $border;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;

  a {
    border-bottom: $border;
    color: $txtcol;
    display: block;
    font-family: ACIDLABEL;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
  }

  a:hover {
    box-shadow: 0 0 10px $txtcol;
  }
}

.dropdown:hover {
  display: block;
}

.view_day:hover .dropdown {
  display: block;
}

/* End Dropdown Menu */

/* End Schedule */

/* Info and Scoreboard */
.info,
.leader {
  border: $border;
  height: 250px;
  margin: 80px 0px;
  width: 50%;
}

.info {
  display: flex;
  flex-flow: column;
  margin-right: 10px;

  img {
    border-bottom: $border;
    border-right: $border;
    float: left;
    height: 120px;
    margin-right: 20px;
    padding: 10px;
    width: 20%;
  }
}

.info_head {
  .flex {
    justify-content: flex-start;
    margin-top: 10px;

    h3 {
      padding-right: 20px;
    }
  }
}

.today {
  padding: 10px;

  td {
    padding: 20px 20px 0 0;
  }
}

.leader {
  margin-left: 10px;
  text-align: center;

  h2 {
    border-bottom: $border;
    margin: 0;
    padding: 5px;
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  th {
    border: 0px;
    padding-bottom: 15px;
  }

  td {
    border-right: $border;
    padding: 10px;
  }

  tr {
    border-bottom: $border;
  }

  tr:first-child,
  tr:last-child {
    border-bottom: 0px;
  }

  table,
  td:last-child,
  th:last-child {
    border-right: 0px;
  }
}

.score {

  height: 180px;
  padding: 10px 10px 10px 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.score::-webkit-scrollbar {
  width: 10px;
}

.score::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .1);
  border-radius: 5px;
}


/* End Info and Scoreboard */

/* Social Media Area */
.social {
  border: $border;
  display: flex;
  height: 566px;

  h2 {
    border-bottom: $border;
    margin: 0;
    padding: 5px 0;
    text-align: center;
  }

  aside {
    flex-basis: 30%;
  }
}

/* Live Update */
.update {
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px 10px 10px 20px;
}

.update::-webkit-scrollbar {
  width: 10px;
}

.update::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.user_update {
  align-items: flex-start;
  display: flex;
  flext-flow: row wrap;
  margin-bottom: 20px;

  .name {
    color: $txtcol;
    font-family: ACIDLABEL;
    font-size: 14px;
    margin: 5px 0px 0px 10px;
    padding: 5px;
    width: 100%;

    span {
      font-size: 18px;
      text-decoration: underline;
    }
  }
}

/* End Live Update */

/* Chatbox Area */
.messenger {
  border-left: $border;
  border-right: $border;
  flex-basis: 40%;
  height: auto;
}

.chatbox {
  display: grid;
  padding: 0 20px;
}

.chatlogs {
  height: 463px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  width: 100%;
}

.chatlogs::-webkit-scrollbar {
  width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .1);
  border-radius: 5px;
}


.chat {
  align-items: flex-start;
  display: flex;
  flext-flow: row wrap;
  margin-bottom: 10px;

  .user-photo {
    background: #ccc;
    border-radius: 50%;
    height: 60px;
    overflow: hidden;
    width: 60px;
  }

  .user-photo img {
    width: 100%;
  }

  .chat-message {
    border: $border;
    border-radius: 10px;
    margin: 5px 10px 0;
    padding: 15px;
    width: 80%;
  }
}

.friend {

  .chat-message {
    background: rgba(0, 0, 0, .7);
  }
}

.self {
  .chat-message {
    background: $brdcol;
    order: -1;
  }
}

.chat-form {
  align-items: flex-start;
  border-top: $border;
  display: flex;
  width: 100%;

  textarea {
    background: $txtcol;
    border-radius: 0px;
    color: BLACK;
    font-family: ACIDLABEL;
    font-size: 18px;
    height: 22px;
    padding: 10px;
    resize: none;
    width: 75%;
  }

  textarea:focus {
    background: #fff;
  }

  textarea::-webkit-scrollbar {
    width: 10px;
  }

  textarea::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }

  button {
    background: none;
    border: none;
    color: $txtcol;
    font-family: ACIDLABEL;
    font-size: 20px;
    margin: 0 10px;
    padding: 8px 10px;

  }

  button:hover {
    color: $hover;
    cursor: pointer;
  }

  button:onclick {
    border: none;
  }
}

/* End Chat Box Area */

/* Who's Online */
.users {
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px 10px 10px 20px;
}

.users::-webkit-scrollbar {
  width: 10px;
}

.users::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.online {
  align-items: flex-start;
  display: flex;
  flext-flow: row wrap;
  margin-bottom: 20px;

  .user-photo {
    background: #ccc;
    border-radius: 50%;
    height: 50px;
    overflow: hidden;
    width: 50px;
  }

  .user-photo img {
    width: 100%;
  }

  .name {
    color: $txtcol;
    font-family: ACIDLABEL;
    font-size: 18px;
    margin: 5px 0px 0px 10px;
    padding: 5px;
    width: 80%;
  }
}

/* End Who's Online */

/* End Social Media Area */

/* Nutrition and Supplements */
.nutr,
.sup {
  border: $border;
  height: auto;
  margin: 80px 0px;
  width: 50%;
}

.nutr img,
.sup img {
  height: 100%;
  width: 100%;
}

/* End Nutrition and Supplements */

/* Floating View */
.view {
  height: 410px;
  margin: 0;
  padding: 0;
  width: 630px;

  .workout {
    height: 50%;
    margin-top: 5px;
    overflow: scroll;
  }

  .workout::-webkit-scrollbar {
    width: 10px;
  }

  .workout::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }

  th {
    border: 0px;
    padding-bottom: 20px;
  }

  td {
    border-right: $border;
    padding: 10px;
  }

  tr {
    border-bottom: $border;
  }

  tr:first-child,
  tr:last-child {
    border-bottom: 0px;
  }

  table,
  td:last-child,
  th:last-child {
    border-right: 0px;
  }

  th,
  td:first-child {
    color: $txtcol;
    font-family: ACIDLABEL;
    font-weight: 40;
  }

  .next-page {
    margin: auto;
    width: 20%;
  }

  .follow {
    float: right;
    margin-top: -28px;
    padding-right: 20px;
  }
}

.view_heading {
  display: flex;
}

.view-icon {
  padding: 10px 0px;
}

.view-icon img {
  width: 100%;
}

.view_content {
  padding: 15px;
}

.view_content h2,
.view_content p {
  margin: 0px;
}

/* End Floating View */

/* Floating Add */
.add {
  height: 400px;
  width: 630px;

  .back a {
    color: $hover;
  }

  form {
    padding-top: 40px;
  }

  input {
    margin-left: 15px;
  }

  .name {
    display: flex;
    padding-left: 70px;
    padding-right: 20px;

    input {
      width: 60%;
    }
  }

  /* Submit */
  input[type=submit] {
    bottom: 80px;
    margin: 0 auto;
  }

  /* End Submit */

  .add_heading {
    display: flex;
    text-align: center;
    width: 100%;

    .desc-h {
      border-right: $border;
      padding: 0 40px;
    }

    .details {
      padding-left: 50px;
    }

  }

  .add_top {
    display: flex;
  }

}

.type {
  display: flex;

  select {
    margin-left: 15px;
  }
}

.sets {
  display: flex;
  padding: 20px 0 20px 80px;

  input {
    width: 5%;
  }
}

.desc {
  display: flex;

  textarea {
    height: 120px;
    margin-left: 15px;
    width: 50%;
  }
}

/* End Floating Add */

/* Floating Add_Two */
#details_tab {

  form {
    padding: 20px;
  }

  input {
    margin-left: 15px;
  }

  .name {
    display: flex;
    padding-right: 20px;

    input {
      width: 60%;
    }
  }

  .equipment {
    display: flex;
    padding-right: 20px;

    input {
      width: 60%;
    }
  }

  /* Submit */
  input[type=submit] {
    bottom: 80px;
    right: 20px;
  }

  /* End Submit */

  .add_top {
    display: flex;
  }

  .workout {
    height: 150px;
    margin: 0 auto;
    overflow: scroll;
  }

  .workout::-webkit-scrollbar {
    width: 10px;
  }

  .workout::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }

  th {
    border: 0px;
    padding-bottom: 20px;
  }

  td {
    border-right: $border;
    padding: 10px;
  }

  tr {
    border-bottom: $border;
  }

  tr:first-child,
  tr:last-child {
    border-bottom: 0px;
  }

  table,
  td:last-child,
  th:last-child {
    border-right: 0px;
  }

  th,
  td:first-child {
    color: $txtcol;
    font-family: ACIDLABEL;
    font-weight: 40;
  }

  .done {
    display: flex;
    justify-content: center;
  }
}

.setup {
  border-bottom: $border;
  display: flex;
  padding-top: 10px;

  input[type=submit] {
    top: 1px;
  }
}

.sets_two,
.reps,
  {
  display: flex;
  padding: 20px 0 20px 5px;

  input {
    width: 10%;
  }
}

.time {
  display: flex;
  padding: 20px 0 20px 0;

  input {
    width: 35%;
  }
}

/* End Floating Add_Two */
