@media only screen and (max-width: 800px) {

  #welcome {
    #wrapper {
      width: 50%;
    }
  }

  .signin {
    margin-top: -370px;
    padding-right: 310px;
  }

  .signup {
    margin-top: -370px;
    padding-right: 118px;
  }
}
