/* CSS Document */

/* Theme Color */
$txtcol: #bfc7d1;
$brdcol: rgba(105, 29, 6, 0.7);
$blk: #2A2A2A;
$background: rgba(42, 42, 42, 0.9);
$hover: #787878;
/* End Theme Color */

/* Borders */
$border: 1px solid $txtcol;
$border2: 5px solid $brdcol;
/* End Borders */

/* Fonts */
@font-face {
  src: url(../assets/fonts/ACIDL___.otf);
  font-family: ACIDLABEL;
}

@font-face {
  src: url(../assets/fonts/Base_02.ttf);
  font-family: BASE;
}

@font-face {
  src: url(../assets/fonts/TyposterROCK-ONDemo.otf);
  font-family: ROCK;
}

@font-face {
  src: url(../assets/fonts/VeryDamaged.ttf);
  font-family: DAMAGE;
}

/* End Fonts */
