#welcome {
  background: url(../images/background2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  #wrapper {
    margin: 10px auto;
    width: 650px;
  }

  main {
    display: grid;
    // I need to fix this
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    height: 365px;
  }
}

/* Header */
header {
  position: relative;
  display: grid;
  align-items: center;
  background-color: $brdcol;
  border-radius: 3px;

  h1 {
    font-size: 40px;
    line-height: 72px;
    position: absolute;
    margin: 30px 0 0 100px;
  }

  img {
    border-radius: 5px;
    margin: 7px 0 2px 7px;
    width: 98%;
  }
}

.char1 {
  float: left;
  margin-top: -25px;
  transform: rotate(8deg);
}

.char2 {
  float: left;
  margin-top: -30px;
  transform: rotate(-18deg);
}

.char3 {
  float: left;
  margin-top: -40px;
}

.char4 {
  float: left;
  margin-top: -40px;
}

.char5 {
  float: right;
  margin-left: -68px;
}

/* End Header */

.content {
  margin: 20px 0 0 20px;

  p {
    padding-top: 20px;
  }

  i {
    color: $txtcol;
    font-size: 20px;
    padding: 10px 10px 0 0;
  }

  i:hover {
    color: $hover;
  }
}

.logo {
  position: relative;
  img {
    padding-top: 20px;
    width: 124%;
    z-index: 1;
  }
}

.signin {
  float: right;
  left: 38px;
  position: absolute;
  top: 25px;
  width: 200px;
  z-index: 2;
}

.signup {
  float: right;
  position: absolute;
  left: 198px;
  top: 25px;
  width: 200px;
  z-index: 2;
}

.signin h2 a,
.signup h2 a {
  color: $txtcol;
  position: absolute;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
}

.signin h2 a:hover,
.signup h2 a:hover {
  text-shadow: 0 0 25px red, 0 0 25px $brdcol;
}
/* Floating Login Form */
.login {

  form {
    margin-top: 15px;
    padding: 0 20px;
  }

  .uid,
  .password {
    display: flex;
    justify-content: space-between;
  }

  .uid {
    margin-left: 35px;
  }

  .password {
    margin-left: 40px;
    padding-top: 10px;
  }

  input[type=text],
  input[type=password] {
    border: 0px;
    border-radius: 3px;
    width: 195px;
    height: 31px;
    margin-left: 10px;
  }


  input[type=submit] {
    color: $txtcol;
    float: right;
    font-family: ACIDLABEL;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    top: 10px;
  }

  input[type=submit]:hover {
    color: $hover;
    cursor: pointer;
  }

  img {
    float: left;
    margin-bottom: -8px;
    margin-left: -10px;
    margin-top: -50px;
    position: relative;
    width: 45px;
  }
}

.forgotPassword {
  color: $txtcol !important;
  float: left;
  font-family: cityburn;
  font-size: 10pt;
  letter-spacing: 3px;
  margin-top: 65px;
  margin-left: 30px;
  text-decoration: none;
}


.forgotPassword:hover {
  text-decoration: underline;
  color: $hover !important;

}

/* End Floating Login Form */

/* Floating Signup Form */
.signup_form {

  input,
  select {
    height: 31px;
  }

  /* User Name */
  .uid {
    margin: 10px 0;
    text-align: center;

    h3 {
      margin-right: 10px;
    }

    input {
      width: 200px;
      margin-left: 10px;
    }
  }

  /* End User Name */

  /* First Name & Last Name */
  .name {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    h3 {
      margin-top: 25px;
    }

    input {
      width: 200px;
    }

    h4 {
      margin: 0;
    }
  }

  /* End First Name & Last Name */

  /* Password */
  .password {
    clear: both;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    h3 {
      margin-right: 50px;
      margin-top: 25px;
    }

    input {
      width: 200px;
      margin-right: 20px;
    }

    h4 {
      margin: 0;
    }
  }

  /* End Password */

  /* Submit */
  input[type=submit] {
    bottom: 65px;
    right: 40px;
  }

  /* End Submit */
}

.signup_form_heading {
  box-sizing: border-box;
  color: #bfc5d1;
  display: block;
  font-family: ACIDLABEL;
  font-size: 25px;
  padding-top: 20px;
  text-align: center;
  widows: 100%;
}

/* Date of Birth */
.dob {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  input {
    width: 165px;
    margin-left: 35px;
  }
}

/* End Date of Birth */

/* Goal */
.goal {
  display: flex;
  margin: 20px 0 20px 20px;

  select {
    width: 185px;
  }

  option {
    font-family: ACIDLABEL;
  }

  select {
    margin-left: 10px;
  }
}

/* End Goal */

/* Email */
.email {
  display: flex;
  justify-content: space-between;

  input {
    width: 60%;
  }
}

/* End Email */

/* Male */
.male {
  display: flex;
  justify-content: center;

  input {
    width: 20px;
  }
}

/* End Male */

/* Female */
.female {
  display: flex;
  justify-content: center;

  input {
    width: 20px;
  }
}

/* End Female */

/* Qoute */
.qoute {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;

  textarea {
    width: 270px;
    height: 90px;
    margin-left: 10px;
  }
}

/* End Qoute */

/* End Floating Signup Form */
